*{
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
	transition-property: 150px;
	background-color: #313131;
}

.container{
	width: 1290px;
	margin: auto;
	
}


/*********the start signin********/


.box-all .signin .link-sign{
	padding: 9px 20px;
	background-color: #0085bf;
	border-radius: 6px;
	border: none;
	font-weight: bolder;
	font-family: monospace;
	color: #ffffff;
	position: relative;
	top: 20px;
	text-decoration: none;
	float: left;
	
}
.box-all .signin .link-sign:hover{
	background-color:#4d4d4d;
	color:#0085bf;
	border:2px solid #0085bf;
}
/***************/

nav ul{
	list-style: none;
}
 nav ul li a:first-child{
	float: left;
	position: relative;
	top: 25px;
	left: 20px;
	
	
}
/***************the end signin***********

/*********the start menu********/

.application .menu-list:focus {
	background-color:#6d6d6d;
	padding: 12px 15px;
	overflow: hidden;
	width: 50px;
	border-radius: 50%;
	margin-top: -10px;
	
	
}

 .box-app{
	background-color: #ededed;
	position: absolute;
	top:80px;
	border-radius: 15px;
	border: 1px solid #333;
	border: none;
	overflow: hidden;
	flex-wrap: wrap;
	transition: all 1.1s  ease-in;
	overflow: hidden;
	width: 300px;
	height: 520px;
	box-shadow: 4px 4px 10px #6f6f6f,
			-4px -4px 10px#6f6f6f;
	 max-height: 0;
	
	
}
 .menu-list:focus ~ .box-app{
	max-height: 550px;
	transition: all 0.5s ease-in;
}



.box-app  a{
	color: #333;
	display: block;
	text-decoration: none;
}
.box-content {
	padding: 0;
}
.box-content ul{
	width: 100%;
	padding: 0;
	list-style-type: none;
	margin-left:-22px; 
	margin-top: -25px;
	
}
.box-content ul li a{
	display: inline-block;
	padding :42px 120px 15px  147px;
	background-color:#efefef;
	font-weight: bolder;
	font-family: sans-serif;
	font-size: 15px;
	color: #333;
	white-space: nowrap;
	border-bottom: 1px solid  #333;
	box-shadow: 2px 2px 10px #6f6f6f;
	transition: all 1.1s ease;
	
			
}
.box-content ul li a:hover{
	background-color: #3d7ac1;
	color: #ffffff;
}

/***************the end menu ***************/



/****************the start links (photo - gmail)****************/

.link-google a{
	position:relative;
	left: 40px;
	top: 27px;
	margin-left: 30px;
	text-decoration: none;
	color: #393939;
	font-weight: bold;
	color: #ffffff;

}
.link-google a:hover{
	border-bottom:0.5px solid #ffffff;
	transition: border-bottom 1.1s ease-in-out; 
}
/********************the end link google**********************/





/**************the strat photo google ***************/

.icon-google{

	margin: 130px 500px;
	
	

}
.icon-google img[title ="google"]{
	
	animation: color 3.2s ease-in 0s  infinite normal none;
	border-radius: 15px;
	padding: 20px;
	
	
}

@keyframes color{
	0%{
		box-shadow: 9px 9px 10px #d4a813,
					-9px -9px 10px #d4a813;
		transform: rotate(0deg);
		transform: scale3d(1.1 ,1.2 ,1.2);
	}
	
	25%{
		box-shadow: 9px 9px 10px #ba430e,
					-9px -9px 10px #ba430e;
		transform: rotate(2deg);
	}
	50%{
		box-shadow: 9px 9px 10px #0089bc,
					-9px -9px 10px #0089bc;
		transform: rotate(2.5deg);	
	}
	
	75%{
		
		box-shadow: 9px 9px 10px #1f7161,
					-9px -9px 10px #1f7161;
		transform: rotate(2deg);
		
	}
	100%{
		
		box-shadow: 9px 9px 10px #ba430e,
					-9px -9px 10px #1a8945;
		transform: rotate(0deg);
	}
}
/**************************the end ************************/



/**********************search and button the google****************************/
.search-google{
	
	margin: -7%  29%;
}
form input{
	padding: 15px;
	width:600px;
	text-align: center;
	border-radius: 20px;
	border: none;
	box-shadow: 0.5px 0.5px 10px #838383,
					-0.5px -0.5px 10px #838383;
	font-family: sans-serif;
	font-weight: bold;
	
		
}
form input:hover{
	border: 2px solid #2c2c2c;
}
.search-google button{
	position: relative;
	left: 25%;
	margin-top:5%;
	margin-left: 4%;
	padding: 8px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-family: sans-serif;
	font-weight: bold;
	color:#ffffff;
	background-color: #4d4d4d;
	border: 0.5px solid #575757;
}

/***********************the end*************************/




/****************link search the language ****************/

.language{
	
	
	margin-top:5%;
	margin-left: 37%;
}
.language p{
	font-family: sans-serif;
	color: #ffffff;
}
.language a{
	position: relative;
	left: -17%;
	top: -20px;
	color: #267cc6;
	text-decoration: none;
	font-family: sans-serif;
}
.language a:hover{
	border-bottom: 1px solid #267cc6;
}
/******************************************/
footer{
	overflow: hidden;
	margin-top: 103px;
	background-color: #5f5f5f;
	height: 90px;
	border-top: 1px solid #8e8e8e;
	
	
}


footer .location p{
padding: 15px 20px;
float:right;
color :#dddddd;	
	
	
}

 .links1 .google {
	float: left;
	 margin-top:60px;
	 padding-left: 50px;
	 
	 
}


 .links2 .go {
	float: right;
	 margin-top:60px; 
	 margin-left: 40px;
	 position: relative;
	 left: 50px;
	 
	 	
}

 .attribute-google li{
	list-style: none;
}
.attribute-google li a{
	text-decoration: none;
	font-family: sans-serif;
	color :#dddddd
}
.attribute-google li a:hover{
	border-bottom:1px solid #dddddd;
}


